/* About */
.about {
    position: relative;
    z-index: 100;
    &__inner {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        padding: 9rem 2rem 5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 25%;

        position: relative;
        transition: all .5s ease-in-out;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            background: linear-gradient($light-blue, $orange);
            opacity: 0;

            transition: all .5s ease-in-out;
        }

        &:hover {
            color: $white;

            &::after {
                opacity: 1;
                box-shadow: 0 0 5px rgba($black, .5);
                transform: scale(1, 1.3);
            }

            .about__header {
                background: $white;
                filter: drop-shadow(0 0 5px rgba($black, .5));
                top: -11rem;

                @include media($tablet-br-1) {
                    background: linear-gradient($light-blue, $orange);
                    filter: none;
                    top: 0;
                }
            }

            .about__icon {
                fill: $light-blue;

                @include media($tablet-br-1) {
                    fill: $white;
                }

                &--promo {
                    fill: $white;

                    @include media($tablet-br-1) {
                        fill: $light-blue;
                    }
                }
            }

            @include media($tablet-br-1) {
                margin-bottom: 0;
                box-shadow: none;
                color: $black;

                &::after {
                    transform: scale(1);
                    background: none;
                    opacity: 0;
                }
            }
        }

        @include media($tablet-br-1) {
            padding: 3rem 2rem;
            width: 50%;
        }
        
        @include media($tablet-br-2) {
            width: 100%;
        }

        &--promo {
            padding: 3rem 2rem;
        }
    }

    &__header {
        position: absolute;
        top: -6rem;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);

        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        background: linear-gradient($light-blue, $orange);

        display: flex;
        align-items: center;
        justify-content: center;

        transition: all .5s ease-in-out;

        @include media($tablet-br-1) {
            position: relative;
            top: 0;
            left: 0;
            transform: translateX(0);
            margin-bottom: 2rem;
        }

    }

    &__icon {
        fill: $white;
        width: 5rem;
        height: 5rem;

        transition: fill .5s ease-in-out;

        &--promo {
            width: 7rem;
            height: 7rem;
            fill: $light-blue;
            margin-bottom: 1.5rem;
        }
    }

    &__content {
        margin-bottom: 2.5rem;

        &--promo {
            margin-bottom: 0;
        }
    }

    &__title {
        font-size: 2rem;
        font-weight: 600;

        margin-bottom: 1.5rem;
    }

    &__text {
        font-size: 1.8rem;
    }

    @include media($tablet-br-1) {
        margin: 3rem 0;
    }



}