/* Add-Post */
.add-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;

    &__btn {
        @include media($tablet-br-2) {
            margin-bottom: 3rem;
        }
    }

    @include media($tablet-br-2) {
        flex-direction: column;
    }
}