.filter {
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__form {
        @include media($tablet-br-2) {
            margin-bottom: 4rem;
        }
    }
}

.filter__inner {
    width: 100%;
    max-width: 55rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include media($tablet-br-2) {
        flex-direction: column-reverse;
        align-items: center;
    }
    
}