/* Nav */
.nav {
    background-color: rgba($black, .7);

    @include media($tablet-br-1) {
        background: none;
        transform: translateX(100%);
        transition: transform .2s ease;
        position: absolute;
        top: 100%;
        right: 0;
        height: calc(100vh - 13.1rem);
        width: 100%;

        &.show {
            transform: translateX(0);
        }

        &__mask {
            display: block;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(2px);

            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 10;
        }

    }

    @include media($tablet-br-2) {
        height: calc(100vh - 8.5rem);
    }
    

    &__list {
        color: $white;
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;

        @include media($tablet-br-1) {
            overflow: auto;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            width: 100%;
            max-width: 70rem;
            margin-left: auto;
            background-color: $black;
            position: relative;
            z-index: 100;
            
        }
    }

    &__link {
        color: inherit;
        font-family: inherit;
        font-size: 1.8rem;
        line-height: 1.2;
        display: block;

        transition: color .3s ease-in-out;

        padding: 1rem 2rem;
        position: relative;
    
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            height: 3px;
            background-color: $light-blue;
            transition: width .3s linear;
        }

        &:hover, &:focus {
            color: $light-blue;
        }

        &.active {
            color: $light-blue;

            &::after {
                width: 100%;
            }
        }

        @include media($tablet-br-1) {
            padding: 2rem;

        }

    }

}