/* Nav */
.nav {
    &__list {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__link {
        color: inherit;
        font-family: inherit;
        font-size: 1.6rem;
        line-height: 1.2;
        display: block;

        transition: color .3s ease-in-out;

        &:focus {
            outline: none;
            color: $light-blue;
        }
    }

    &__item {
        padding: 1rem 2rem;
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            height: 3px;
            background-color: $light-blue;
            transition: width .3s linear;
        }

        &:hover {
            > .nav__link {
                color: $light-blue;
            }
            &::after {
                width: 100%;
            }
        }
    }
}