/* Promo */
.promo {
    margin: 5rem 0;

    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        @include media($tablet-br-1) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media($tablet-br-2) {
            grid-template-columns: 1fr;
        }

    }

    &__item {
        padding: 4rem;
        position: relative;
        border: 2px solid $light-blue;

        &:hover {
            .promo__preview {
                top: -100%;
                box-shadow: 0 -5px 10px rgba($black, .7);

                @include media($tablet-br-1) {
                    top: 0;
                    box-shadow: none;
                }
            }
        }

        @include media($tablet-br-1) {
            padding: 0;
        }
    }

    &__preview {
        width: 100%;
        height: 100%;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient($light-blue, $orange);
        opacity: 0.9;
        color: $white;

        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        transition: all .5s ease-in-out;

        @include media($tablet-br-1) {
            position: relative;
            height: auto;
            z-index: 1;
        }
    }

    &__title {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.4;
        margin-top: 1.5rem;
    }

    &__text {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $black;

        @include media($tablet-br-1) {
            padding: 2rem;
        }

    }

    &__icon {
        fill: $white;
        width: 6rem;
        height: 6rem;
        margin: 0 auto;
    }
}