/* Read-More */
.read-more {
    margin: 0 0 6rem;

    &__inner {
        box-shadow: 0 5px 15px rgba($black, .7);
        padding: 5rem 3rem;

        @include media($tablet-br-2) {
            padding: 3rem 2rem;
        }
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    &__title {
        font-size: 3.6rem;
        font-weight: 700;
        color: $light-blue;
        line-height: 1.3;
        text-align: center;
        margin-bottom: 3rem;

        @include media($tablet-br-2) {
            font-size: 3rem;
        }
    }

    &__content {
        text-align: justify;
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 400;

        h2, h3, h4, h5, h6 {
            font-weight: 700;
            margin-bottom: 2rem;
        }
    
        h2 {
            font-size: 1.5em;
    
        }
    
        h3 {
            font-size: 1.4em;
    
        }
    
        h4 {
            font-size: 1.25em;
    
        }
    
        h5 {
            font-size: 1.15em;
        }
    
        h6 {
            font-size: 1em;
        }
    
        ul, ol {
            margin-bottom: 2rem;
    
        }
    
        ul {
            list-style: disc;
            list-style-position: inside;
            padding-left: 2rem;
            margin: 0 0 2rem;
        }
    
        ol {
            list-style: decimal;
            list-style-position: inside;
            padding-left: 2rem;
            margin: 0 0 2rem;
        }
    
        p {
            margin-bottom: 2rem;
        }
    
        table {
            width: 100%;
            margin-bottom: 2rem;
            border-collapse: collapse;
        }
    
        td {
            text-align: center;
            border: 2px solid $black;
            padding: .3em;
        }
    
        thead {
            background-color: lighten($light-blue, 2%);
            color: $white;
    
        }
    
        caption {
            margin: 1rem 0;
            text-align: center;
            font-weight: 500;
        }
    
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    
        a {
            color: $light-blue;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }
}