/* Slick */

.slick-arrow {
    width: auto;
    height: auto;
    padding: 0.5rem;
    z-index: 100;

    &:hover {
        &.slick-prev::before, &.slick-next::before {
            border-color: $light-blue;
        }
    }
}


.slick-prev::before, .slick-next::before {
    content: "";
    display: block;
    opacity: 1;
    font-size: 0;
    color: transparent;
    height: 2rem;
    width: 2rem;
    line-height: 0;
    border-top: 3px solid $gray;
    border-left: 3px solid $gray;
    transition: border .2s ease;
}

.slick-prev::before {
    transform: rotate(-45deg);
}

.slick-next::before {
    transform: rotate(135deg);
}

.slick-section {
    .slick-track {
        display: flex;
        align-items: center;
        gap: 2rem;

        @include media($tablet-br-1) {
            display: block;

        }
    }

    .slick-prev {
        left: -2.5rem;
    }

    .slick-next {
        right: -2.5rem;
    }
}

.slick-intro {
    .slick-slide:nth-child(odd) {
        .intro__inner--home {
            margin-left: auto;
            @include media($tablet-br-1) {
                margin-right: auto;
            }
        }
    }
    .slick-slide:nth-child(even) {
        .intro__inner--home {
            margin-left: 0;

            @include media($tablet-br-1) {
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

    .slick-dots {
        bottom: 5rem;
    }

    .slick-dots li button::before {
        opacity: .5;
        color: $white;
        transition: opacity .2s ease;
    }

    .slick-dots li button:hover {
        &::before {
            opacity: .7;
        }
        
    }

    .slick-dots li.slick-active button::before {
        opacity: 1;
    }

    .slick-prev {
        left: 1rem;
    }

    .slick-next {
        right: 1rem;
    }

    .slick-prev, .slick-next {
        &:hover {
            &::before {
                border-color: $white;
                opacity: 1;
                
            }
        }
        
    }

    .slick-prev::before, .slick-next::before {
        border-color: $white;
        opacity: .7;
        transition: all .2s ease;

    }

    
}
